/* * {
  margin: 0;
  padding: 0;

}

body {
  background: rgb(240, 240, 240);
}

.card{
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.property-card {
  margin: 15px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: 0 20px 30px -14px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 12px;
  max-width: 350px;
  min-width: 250px;
}

.property-card-header {
  width: 100%;
  overflow: hidden;
}

.property-card-img {
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  transition: transform .6s ease-in-out;
  overflow: hidden;
}

.property-card-img:hover {
  transform-origin: center center;
  transition: transform .6s ease-in-out;
  transform: scale(1.1);
  overflow: hidden;
}

.property-card-body {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.property-card-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.property-card-details {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}


.property-card-specs {
  margin: 20px;
  display: inline-flex;
  justify-content: space-between;
}

@media (min-width: 40rem) {
  .property-card {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .property-card {
    width: 33.3333%;
  }
}
 */


/*

######################
Mirar estoooo

https://codepen.io/mhrkit/pen/GGqdvr?editors=1100

######################
*/
